[submodule "sensors-to-db"]
	path = sensors-to-db
	url = https://github.com/LaurentChion/sensors-to-db.git
[submodule "random-sensors"]
	path = random-sensors
	url = https://github.com/pigne/random-sensors.git
[submodule "ReactMqtt"]
	path = ReactMqtt
	url = https://github.com/LaurentChion/ReactMqtt.git
[submodule "SensorsWebService"]
	path = SensorsWebService
	url = https://github.com/LaurentChion/SensorsWebService.git
